/* === index.css (minimal for Tailwind + full-viewport) === */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ให้หน้าเว็บกินเต็มจอ และกันสกรอลล์แนวนอน */
/* html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #0f172a;
}
 */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}